body {
    font-family: 'Poppins', sans-serif;
    margin: 150px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

.tcolor {
    color: purple;
}

section {
    display: flex;
    margin-bottom: 10px;
}

.width {
    width: 50%;
    padding: 5%;
}

.width img {
    height: 100%;
    width: 100%
}

.linkbutton {
    text-decoration: none;
    background-image: linear-gradient(blue, aqua);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10%;

}

.topbnr {
    background-image: url(images/developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
}

.dream big {
    background-image: url(images/developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}